@import '../mixins/mixins.scss';

@include b(input-wrapper) {
  @include when(line) {
    &:before {
      content: '-';
      font-size: 14px;
      display: inline-block;
      width: 14px;
      text-align: center;
    }
  }

  @include when(suffix-line) {
    &::after {
      content: '-';
      font-size: 14px;
      display: inline-block;
      width: 14px;
      text-align: center;
    }
  }
}

@include b(input) {
}
